# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# dev
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# next.js
client/.next
client/out
.next
out

# express server
server/dist

# build / coverage (client/server generic)
build
dist
coverage

# production
.env*.local
client/.env.local
server/.env

# Local database store
# server/data/users.json

# misc
.DS_Store
*.pem

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
